
@{
    ViewBag.Title = "Home";
}



<h3 class="display-2" align="center">Zero Hunger of Children</h3>
<p align="center"> Together, let's help each other </p>
<div align="center">
    <button class="btn btn-info" onclick="window.location.href = '/Restaurant/Index';"> Restaurant List </button>
    <button class="btn btn-info" onclick="window.location.href = '/NGO/CollectRequest';">Deliver Food</button>
</div>

